<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studies.myfirstspringbootapp.ordering.Daos.ServerConfigMapper">
    <select id="list" resultType="com.studies.myfirstspringbootapp.ordering.Models.ServerConfig">
        select * from ServerConfig
    </select>
</mapper>